# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.idea
.vscode


# OS
.DS_Store
*.swp
*.swo
.vscode
.idea

# Build
vendor
.vendor-new

# Testing
coverage.txt
profile.out

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
.vscode/
*.iml

# Graphviz
dependency-graph.png


#go
go.sum

#测试项目数据文件
example/**/data/

